<div class="container back-image padding-home font-color">
  <div class="row">
    <div class="col-md-12">
      <h1>CONTATO</h1>
    </div>
  </div>
</div>
<div class="container padding">
<div class="row">
  <div class="col-md-6">
    <form class="" action="index.html" method="post">
      <label for="nome">NOME</label>
      <input type="text" name="" value=""><br><br>
      <label for="nome">E-MAIL</label>
      <input type="text" name="" value=""><br><br>
      <label for="nome">MENSAGEM</label><br>
      <textarea rows="7" cols="50">
    
      </textarea>
      <input type="submit" name="" value="ENVIAR">
    </form>

  </div>
  <div class="col-md-6">
  <h2>RESENCIALMENTE</h2>

	<p><strong>CAMPUS VILA OLÍMPIA</strong><br>
	Endereço: Rua Olimpíadas, 186 - São Paulo/SP.<br>
	Horário de Atendimento: de segunda a sexta, das 8h às 22h.</p>

	<p><strong>CAMPUS PAULISTA</strong><br>
	Endereço: Av. Paulista, 1106 - 7º andar - Cerqueira César São Paulo/SP.<br>
	Horário de Atendimento: de segunda a sexta, das 8h às 21h30min.
	Aos sábados, das 9h às 12h30.</p>

	<p><strong>CAMPUS ACLIMAÇÃO</strong><br>
	Endereço: Av. Lins de Vasconcelos, 1222 e 1264 - Aclimação São Paulo/SP.<br>
	Horário de Atendimento: de segunda a sexta, das 8h às 21h30min.</p>

	<p><strong>CAMPUS ALPHAVILLE</strong><br>
	Endereço: Alameda Araguaia, 1142 - Bloco 4 - Alphaville Barueri/SP.<br>
	Horário de Atendimento: de segunda a sexta, das 13h às 22h.</p>
  </div>
</div>
</div>
