.back-image{
  background-image: url('../../assets/img/bannerContato.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.font-color{
  color: #ffffff;
}

.font{
  font-size: 25px;
  padding-top: 20px;
}

.padding-home{
  padding:62px;
}

.padding{
    padding-top: 50px;
}

input{
  width: 100%;
}

textarea{
  width: 100%;
}

input[type="submit"] {
  margin-top: 10px;
  width: 150px;
  padding: 5px 0;
  background-color: grey;
  font-weight: bold;
   float: right;
}
