<div class="container back-image padding-home font-color">
  <div class="row">
    <div class="col-md-12">
      <h1>SISTEMAS PARA INTERNET</h1>
      <p class="font">Neste curso, você vai trabalhar com Front-end (HTML5, CSS3, entre outros) com foco em UX, Desenvolvimento Mobile (Android, IOS e HTML5), Gestão de Negócios, Tratamento de Imagens e Gerenciamento de Plataformas Digitais. Vai ser estimulado a empreender e criar sia própria Startup, por meio da vivência e do estudo de casos reais</p>
    </div>
  </div>
</div>
<div class="container padding">
    <div class="row tamanho">
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="assets/img/destaque_01.png" alt="">
          <div class="caption">
            <h2 class="title">HTML5</h2>
            <p>
              Aplicação de Padrões Web, XHTML5 (padrão W3C), CSS, Javascript e sistemas Web centrados em User Experience.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="assets/img/destaque_02.png" alt="">
          <div class="caption">
            <h2 class="title">Desenvolvimento Mobile</h2>
            <p>
              Desenvolvimento de apps para dispositivos móveis Apple utilizando storyboard, UIKit, MVC, protocolos, requisições HTTP, JSON, persistência e mapas nas linguagens Obj-C e Swift.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="assets/img/destaque_03.png" alt="">
          <div class="caption">
            <h2 class="title">Gestão de Negócios</h2>
            <p>
              Você será imerso no ecosistema dos e-commerce's, através do desenvolvimento do plano de negócios para startups, relacionamento com os clientes virtuais, identificação de público alvo e estratégias de negócio.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="assets/img/destaque_04.png" alt="">
          <div class="caption">
            <h2 class="title">Sua própria Startup</h2>
            <p>
              VO Start-Up Brasil, Programa Nacional de Aceleração de Startups, é uma iniciativa do governo federal, criado pelo Ministério da Ciência, Tecnologia, Inovações e Comunicações (MCTIC)
            </p>
          </div>
        </div>
      </div>
    </div>




  <!-- <div class="col-md-12">
    <article class="box box_color">
      <img class="img" src="/assets/img/destaque_01.png" alt="">

        <h3 class="title_destaque">HTML5</h3>
        <p class="p_destaque">Aplicação de Padrões Web, XHTML5 (padrão W3C), CSS, Javascript e sistemas Web centrados em User Experience.</p>

    </article>
    <article class="box">
      <img class="img" src="/assets/img/destaque_02.png" alt="">
      <h3 class="title_destaque">Desenvolvimento Mobile</h3>
      <p class="p_destaque"s>Desenvolvimento de apps para dispositivos móveis Apple utilizando storyboard, UIKit, MVC, protocolos, requisições HTTP, JSON, persistência e mapas nas linguagens Obj-C e Swift.</p>
    </article>
    <article class="box box_color">
      <img class="img" src="/assets/img/destaque_03.png" alt="">
      <h3 class="title_destaque">Gestão de Negócios</h3>
      <p class="p_destaque">Você será imerso no ecosistema dos e-commerce´s, através do desenvolvimento do plano de negócios para startups, relacionamento com os clientes virtuais, identificação de público alvo e estratégias de negócio.</p>
    </article>
    <article class="box">
      <img class="img" src="/assets/img/destaque_04.png" alt="">
      <h3 class="title_destaque">Sua própria Startup</h3>
      <p class="p_destaque">VO Start-Up Brasil, Programa Nacional de Aceleração de Startups, é uma iniciativa do governo federal, criado pelo Ministério da Ciência, Tecnologia, Inovações e Comunicações (MCTIC)</p>
    </article>
  </div> -->
</div>
