.back-image{
  background-image: url('../../assets/img/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.font-color{
  color: #ffffff;
}

.font{
  font-size: 25px;
  padding-top: 20px;
}

.padding-home{
  padding:62px;
}


article.box{
  width: 23%;
  box-sizing: border-box;
  float: left;
  border: 2px solid #d8d6d6;
  margin-right: 2%;
  height: 400px;
}


.padding{
    padding-top: 50px;
}

.title_destaque{
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
}

.p_destaque{
  text-align: center;
  margin: 0;
  padding: 0 15px 0 15px;
}

.espace-top{
  padding-top: 50px;
  padding-bottom: 50px;
}

.box_color{
  background-color: #d8d6d6;

}

img.img{
  width: 100%;
}

.border_grey{
  border: 2px solid #d8d6d6;
}




.tamanho .col-md-3 .caption{
  min-height: 220px;
}

.thumbnail {
  background-color: white;
  text-align: center;
}

.col-md-3:nth-child(odd) .caption {
  background-color: #eee;
}

.thumbnail img  {
  border-bottom: 1px solid #E7E7E7;
  width: 100%;
}

.thumbnail .title {
  font-size: 20px;
  line-height: 22px;
}
