<div class="container back-image padding-home font-color">
  <div class="row">
    <div class="col-md-12">
      <h1>SISTEMAS PARA INTERNET</h1>
      <p class="font">Neste curso, você vai trabalhar com Front-end (HTML5, CSS3, entre outros) com foco em UX, Desenvolvimento Mobile (Android, IOS e HTML5), Gestão de Negócios, Tratamento de Imagens e Gerenciamento de Plataformas Digitais. Vai ser estimulado a empreender e criar sia própria Startup, por meio da vivência e do estudo de casos reais</p>
    </div>
  </div>
</div>
